* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  font-family: Lato, sans-serif;
  font-weight: 400;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-family: Merriweather, serif;
  color: #000;
}

/* Main page */
.main {
  position: absolute;
  top: 50%;
}
.title {
  font-family: Merriweather, serif;
  text-transform: uppercase;
  color: #A1C6C1;
  text-shadow: 2px 2px #1A535C;
  font-weight: bold;
  font-size: 4em;
}

.intro {
  color: #595858;
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  opacity: 1;
}
.intro p {
  margin: 0;
}

.row {
  font-weight: 400;
  text-align: left;
}

span {
  color: #41A8AC;
  font-size: 1.2rem;
}

/** About page **/
.about {
  color: #E2A596;
  height: 100%;
  padding: 1em;
  padding-top: 10vh;
}

.profile {
  border-right: 1px solid #EDECEB;
  padding: 1em;
  padding-right: 2em;
}
.profile img {
  border-radius: 100%;
}

.profile-detail {
  padding: 1em;
  color: #595858;
}

.list-inline {
  float: right;
}

.list-inline li i {
  color: #DAD5D3;
  font-size: 1.5rem;
}

/** Skills page**/
.skills {
  padding-top: 10vh;
  text-align: center;
}
.skills .skills-detail {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.skills .skills-detail .skill-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  height: 50px;
  box-sizing: 50px;
  border-radius: 20px;
}

.skill-item {
  color: #000;
  font-weight: bold;
}
.skill-item i {
  color: #41A8AC;
  width: 20px;
  max-width: 20px;
}

.unfeatured {
  display: inline-flex;
  margin-left: 1em;
  background-color: #DDDFE3;
  font-size: 1rem;
  color: #595858;
  padding: 3px;
  border-radius: 5px;
}

.progress-bar {
  position: relative;
  background-color: #DDDFE3;
  height: 20px;
  width: 350px;
  border-radius: 50px;
}
.progress-bar .bar {
  background: #A6CDC6;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

/** Project page **/
.projects {
  padding-top: 10vh;
  width: 100%;
  height: 80vh;
  display: block;
}

.projects h2 {
  color: rgb(189, 188, 188);
  text-decoration: overline;
}

.flex-container{
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 50%;
  margin-bottom: 2rem;
}

.flex-container > div{
  width: 50%;
  padding: 1rem;
  margin-left: 1rem;
}

.btn {
  text-transform: uppercase;
  float: right;
  border: 2px solid #000;
  border-radius: 0;
  transition: .5s;
}
.btn:hover{
  background-color: #000;
  color: #fff;
}
.btn:focus{
  outline: 0;
}

.project-detail {
  margin-top: 3rem;
}

.project-detail .desc {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(240, 239, 239);
  padding: 1rem;
  height: auto;
  width: auto;
}

.project-detail span {
  margin-left: 1em;
  background-color: #41A8AC;
  font-size: 1rem;
  color: #fff;
  padding: .3rem;
  border-radius: 5px;
}

.github-btn {
  color: #41A8AC;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 2px solid #41A8AC;
  border-radius: 6px;
  float: right;
}
.github-btn:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
@media screen and (max-width: 424px){
  .project-detail .desc {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 864px) {
  .flex-container{
    flex-direction: column;
  }
  .flex-container > div{
    width: 100%;
  }
}

/** nav **/
nav {
  padding: 8px;
}

nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 1em;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.hidden {
  display: none;
}

@media screen and (max-width: 864px) {

  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  #nav:checked + .nav-btn {
    transform: rotate(45deg);
  }

  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }

  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }

  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }

  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }

  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
  }

  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }

  .hidden {
    display: none;
  }
}